@use "./mixins" as m;

.about-head {
	// .about-head__container
	&__container {
		@include m.adaptiveValue("padding-top", 80, 30);
		@include m.adaptiveValue("padding-bottom", 96, 30);
		display: flex;
		align-items: center;
	}
	// .about-head__img
	&__img {
		flex-basis: 50%; /* 700/1400 */
		max-width: m.toRem(700);
		aspect-ratio: 1;
		width: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__inner {
		margin-left: -17.5%;
	}
	// .about-head__label
	&__label {
		text-align: center;
		@include m.adaptiveValue("font-size", 60, 25);
		line-height: 1.1;
		text-transform: uppercase;
		&:not(:last-child) {
			margin-bottom: m.toRem(10);
		}
	}
	// .about-head__title
	&__title {
		text-align: center;
	}
}

.info {
	// .info__container
	&__container {
	}

	& .list-information.list-information__item:not(:last-child) {
		border-bottom: m.toRem(1) solid var(--border-default);
		@include m.adaptiveValue("padding-bottom", 35, 20);
	}
	& .list-information__data {
		display: flex;
		flex-direction: column;
		gap: m.toRem(5);

		font-size: m.toRem(18);
		line-height: 1.2;
		text-transform: uppercase;
		color: var(--text-default);
		span {
			font-size: m.toRem(14);
			line-height: 1.6;
			text-transform: none;
		}
		@media (max-width: m.toEm(600)) {
			align-items: center;
		}
	}
	& .list-information__info {
		font-size: m.toRem(18);
		line-height: 1.2;
		text-transform: uppercase;
		color: var(--background-primary);
	}
}
