:root {
	--text-default: #101010;
	--background-primary:#DB574D;
	--text-muted: rgba(16, 16, 16, 0.6);
	--text-inverse: #fff;
	--border-default: rgba(16, 16, 16, 0.1);
	--bg-header: rgba(255, 255, 255, 0.9);
	--bg-img: rgba(217, 216, 216, 0.288)
}
